*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
  background-image: url(https://source.unsplash.com/720x600/?nature);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-container{
  text-align: center;
  width: 40rem;
  margin: 10rem auto;
}
.card-container{
  background-color: #eae6f1a0;
  width: 50%;
  border-radius: 50px;
  padding: 20px;
}
h1{
  padding: 10px;
}
h4{
  padding: 10px;
}
.one{
  font-weight: bold;
}
.two{
  font-weight: bold;
}
.three{
  font-weight: bold;
}
.btn{
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    transition: all 300ms;
}

